name: e2e tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  SOURCE_DATE_EPOCH: 1669683910

permissions: {}

jobs:
  rebuild:
    name: rebuild
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        cfg:
          # build and rebuild examples
          - cargo-build.yaml
          - gnu-hello.yaml
          - go-build.yaml
          - minimal.yaml
          - npm-install.yaml
          - pnpm-install.yaml

          - melange.yaml # special; builds melange itself

    container:
      image: alpine:latest
      options: |
        --cap-add NET_ADMIN --cap-add SYS_ADMIN --security-opt seccomp=unconfined --security-opt apparmor:unconfined

    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"

      - name: Fetch dependencies
        run: |
          apk upgrade -Ua
          apk add go build-base git bubblewrap jq

      - name: Build melange
        run: |
          make melange
          ./melange keygen

      - name: Build package
        run: |
          path=examples/${{matrix.cfg}}
          if [ "${{matrix.cfg}}" == "melange.yaml" ]; then
            path="melange.yaml"
          fi
          ./melange build $path --arch=x86_64 --namespace=wolfi

      - name: Rebuild package
        run: |
          ./melange rebuild ./packages/x86_64/*.apk

      - name: Upload APKs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          path: |
            packages/**
            rebuilt-packages/**
          name: rebuild-${{matrix.cfg}}
