name: e2e tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  SOURCE_DATE_EPOCH: 1669683910

permissions:
  contents: read

jobs:
  rebuild:
    name: rebuild
    runs-on: ubuntu-latest
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        cfg:
          # build and rebuild examples
          - cargo-build.yaml
          - gnu-hello.yaml
          - go-build.yaml
          - minimal.yaml
          - npm-install.yaml
          - pnpm-install.yaml

          - melange.yaml # special; builds melange itself

    container:
      image: alpine:latest
      options: |
        --cap-add NET_ADMIN --cap-add SYS_ADMIN --security-opt seccomp=unconfined --security-opt apparmor:unconfined

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "go.mod"

      - name: Fetch dependencies
        run: |
          apk upgrade -Ua
          apk add go build-base git bubblewrap jq

      - name: Build melange
        run: |
          make melange
          ./melange keygen

      - name: Build package
        run: |
          path=examples/${{matrix.cfg}}
          if [ "${{matrix.cfg}}" == "melange.yaml" ]; then
            path="melange.yaml"
          fi
          ./melange build $path --arch=x86_64 --namespace=wolfi

      - name: Rebuild package
        run: |
          ./melange rebuild ./packages/x86_64/*.apk

      - name: Upload APKs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          path: |
            packages/**
            rebuilt-packages/**
          name: rebuild-${{matrix.cfg}}
